@font-face{
	font-family: pingfan;
	src:url('pingfan.ttf');
}

body{
	font-family: pingfan, sans-serif;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0px;
}

	.moudle{
		z-index: 40;
		display: none;
		position: fixed;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		background-color: rgba(5,5,5,0.5);
	}

	.side-nav{
		position: fixed;
		top: 0px;
		bottom: 0px;
		width: 200px;
		border-right: 1px solid rgba(100,100,100,0.5);
		overflow-x: hidden;
		overflow-y: auto;
		z-index: 41;
		background-color: white;
	}

	.side-nav-wrap{
		position: relative;
		min-height: 100%;
	}

	#side-nav-logo{
		height: 60px;
		padding: 0px 0px 0px 10px;
		border-bottom: 1px solid rgba(10,50,50,0.14);
		position: relative;
	}

	.side-nav-title{
		font-weight: 700;
		white-space: nowrap;
		position: relative;
		top: 10px;
		padding: 10px 0px 10px 30px;
		background-color: #eeeeee;
	}

	dt{
		cursor: pointer;
		padding: 10px 0px 10px 50px;
	}

	.side-nav-children{
		display: none;
	}

	.nav-item{
		text-decoration: none;
		color: black;
	}

	.nav-child-item{
		white-space: nowrap;
		display: block;
		text-decoration: none;
		color: black;
		padding: 5px 0px 5px 30px;
	}

	.side-nav-legal{
		position: relative;
		bottom: 0px;
		height: 30px;
		border-top: 1px solid rgba(50,50,50,0.14);
		padding: 20px 0px 10px 30px;
	}


	.right-top{
		position: absolute;
		top: 0px;
		right:0px;
		background-color: #ff5000;
		color: white; 
		z-index: 20;
		border-bottom: 1px solid rgba(200,200,200,0.14);
	}

	.right-top-title{
		font-size: 3.0em;
		position: relative;
		margin-left: 5%;
		padding-left: 50px;
		top:60%;
	}

	.right-top-menu{
		font-size: 1.0em;
		padding-left: 10px;
		cursor: pointer;
		position: fixed;
		top: 10px;
		left: 10px;
		z-index: 21;
	}


	.right-content-wrap{	
		position: absolute;
		right: 0px;
		bottom: 0px;
		text-align: center;
		background-color: white;
		min-height: 100%;
	}

	.content{
		position: relative;
		margin: 0px auto;
		background-color: #eeeeee;
		min-height:100%;
	}

	.footer{
		position: relative;
		bottom: 0px;
		height: 30px;
		border-top: 1px solid rgba(50,50,50,0.14);
		padding: 20px 0px 10px 30px;
		background-color: gray;
	}

	#theme-style{
		position: absolute;
		font-size: 0.7em;
		top: 20px;
		right: 0px;
		width: 60px;
	}
	#light{		
	}

	#deep{
	}

	#totop{
		display: none;
		position: fixed;
		height: 100px;
		width: 100px;
		bottom: 0px;
		right: 0px;
	}



@media screen and (max-width: 740px){
	body{
		overflow: auto;
	}

	.side-nav{
		left: -201px;
	}

	.right-top{
		position: fixed;
		left: 0px;
		height: 60px;
		width: 100%;
	}

	.right-top-title{
		font-size: 1.0em;
		position: fixed;
		top: 10px;
	}

	.right-content-wrap{
		left: 0px;
		top: 60px;
		min-width: 480px;
	}

	.content{
		width: 360px;
	}

}

@media screen and (max-width: 1220px) and (min-width: 740px){
	.side-nav{
		left: -201px;
	}

	.right-top{
		left: 0px;
		position: absolute;
		height: 300px;
	}

	.right-content-wrap{
		left: 0px;
		top: 300px;
	}

	.content{
		width: 620px;
	}
}

@media screen and (max-width: 1460px) and (min-width: 1220px){
	.side-nav{
		left: -201px;
	}

	.right-top{
		left: 0px;
		position: absolute;
		height: 300px;
	}

	.right-content-wrap{
		left: 0px;
		top: 300px;
	}

	.content{
		width: 1100px;
	}
}

@media screen and (min-width: 1460px){
	.side-nav{
		left: 0px;
	}

	.right-top{
		left: 200px;
		position: absolute;
		height: 300px;
	}

	.right-top-menu{
		display: none;
	}

	.right-content-wrap{
		left: 200px;
		top: 300px;
	}

	.content{
		width: 1140px;
	}
}


