/*@font-face{
	font-family: pingfan;
	src:url('pingfan.ttf');
	font-family: 'Microsoft yahei';
}*/

body{
	/*font-family: pingfan, sans-serif;*/
	font-family: 'Microsoft yahei';
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0px;
	font-weight: 200;
}

	.moudle{
		z-index: 40;
		display: none;
		position: fixed;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		background-color: rgba(5,5,5,0.5);
	}

	.side-nav{
		position: fixed;
		top: 0px;
		bottom: 0px;
		width: 240px;
		border-right: 1px solid rgba(100,100,100,0.5);
		overflow-x: hidden;
		overflow-y: auto;
		z-index: 41;
		background-color: white;
	}

	.side-nav-wrap{
		position: relative;
		min-height: 100%;
	}

	#side-nav-logo{
		height: 50px;
		padding: 15px 0px 0px 30px;
		border-bottom: 1px solid rgba(10,50,50,0.14);
		position: relative;
	}

	.side-nav-title{
		font-weight: 700;
		white-space: nowrap;
		position: relative;
		top: 10px;
		padding: 10px 0px 10px 30px;
		background-color: #eeeeee;
	}

	nav{
		margin-top: 20px;
	}

	dt{
		cursor: pointer;
		padding: 0px 0px 0px 50px;
	}

	dt:hover{
		background-color: #efefef;
	}

	.side-nav-children{
		display: none;
	}

	.nav-item{
		display: block;
		text-decoration: none;
		color: black;
		margin-left: -50px;
		padding: 10px 0px 10px 50px;
		width: 175px;
	}

	.nav-child-item{
		white-space: nowrap;
		display: block;
		text-decoration: none;
		color: black;
		padding: 5px 0px 5px 30px;
	}

	.side-nav-legal{
		position: relative;
		bottom: 0px;
		height: 30px;
		border-top: 1px solid rgba(50,50,50,0.14);
		padding: 20px 0px 10px 30px;
	}


	.right-top{
		position: absolute;
		top: 0px;
		right:0px;
		background-color: #ff5000;
		color: white; 
		z-index: 20;
		border-bottom: 1px solid rgba(200,200,200,0.14);
		text-align: center;
	}

	.right-top-title{
		font-size: 3.0em;
		position: relative;
		margin: 0px auto;
		top:60%;
		text-align: left;
	}

	.right-top-menu{
		font-size: 1.0em;
		padding-left: 10px;
		cursor: pointer;
		position: fixed;
		top: 20px;
		left: 10px;
		z-index: 21;
		color: #444444;
	}


	.right-content-wrap{	
		position: absolute;
		right: 0px;
		bottom: 0px;
		text-align: center;
		background-color: white;
		min-height: 100%;
	}

	.content{
		text-align: left;
		position: relative;
		margin: 0px auto;
		background-color: white;
		min-height:100%;
	}

	.footer{
		position: relative;
		bottom: 0px;
		left: 0px;
		right: 0px;
		height: 30px;
		border-top: 1px solid rgba(50,50,50,0.14);
		padding: 20px 30px 10px 30px;
		background-color: gray;
	}

	.next{
		color: white;
		margin-top: -10px;
		padding-top: 9px;
		padding-bottom: 9px;
		display: block;
		position:absolute;
		right: 0px;
		top: 10px;
		padding-right: 5%;
		padding-left: 40%;
		text-decoration: none;
	}

	.next:hover{
		opacity: 0.6;
	}

	.pre{
		color: white;
		margin-top: -10px;
		padding-top: 9px;
		padding-bottom: 9px;
		display: block;
		position:absolute;
		left: 0px;
		top: 10px;
		padding-right: 40%;
		padding-left: 5%;
		text-decoration: none;
	}

	.pre:hover{
		opacity: 0.6;
	}

	.arrow-pre{
		display: inline-block;
		vertical-align: 50%;
	}

	.arrow-next{
		display: inline-block;
		vertical-align: 50%;
	}

	.text-pre{
		display: inline-block;
	}

	.text-next{
		display: inline-block;
		margin-left: 20px;
	}


	.theme-style{
		position: absolute;
		font-size: 0.9em;
		top: 20px;
		right: -70px;
		width: 70px;
	}
	#light{
		border-left: 2px solid #ff5000; 
		color: #ff5000;
	}

	#deep{
		border-left: 2px solid #aaaaaa; 
	}

	#totop{
		display: none;
		position: fixed;
		height: 100px;
		width: 100px;
		bottom: 0px;
		right: 0px;
	}

	h2{
		color: #555555;
		margin-top: 50px;
	}

	p{
		font-size: 0.9em;
	}

	.check-colors{
		position: relative;
		margin: 10px 0px 0px 0px;
	}

	.check-colors-title{
		position: absolute;
		left: 0px;
		top: 5px;
		width: 95px;
		font-size: 2.5em;
		color: #888888;
	}
	.check-colors-blocks{
		position: relative;
		left: 95px;
		top: 0px;
		display: inline-block;
	}

	.check-colors-item-wrap{
		position: relative;
		display: inline-block;
		padding: 10px 0px 0px 15px;
		vertical-align: top;
		width: 310px;
	}

	.check-colors-item{
		position: relative;
		margin-top: 0px;
		box-sizing: border-box;
		background-color: blue;
		height: 120px;
		border: 1px solid #eeeeee;
		cursor: pointer;
		vertical-align: bottom;
	}

	.check-colors-item:hover{
		opacity: .7;
	}

	.check-colors-item-detail3{text-align: right; position: relative; top:77px;}

	.check-colors-item-detail2{text-align: right; position: relative; top:77px;}




@media screen and (max-width: 740px){
	body{
		overflow: auto;
	}

	.side-nav{
		left: -241px;
	}

	.right-top{
		position: fixed;
		left: 0px;
		height: 65px;
		width: 100%;
	}

	.right-top-title{
		font-size: 1.0em;
		position: fixed;
		top: 20px;
		left: 70px;
	}

	.right-content-wrap{
		left: 0px;
		top: 65px;
		min-width: 480px;
	}

	.content{
		width: 350px;
	}

	.check-colors-title{
		position: relative;
		left: 15px;
	}

	.check-colors-blocks{
		display: inline-block;
		left: 0px;
	}

}

@media screen and (max-width: 1220px) and (min-width: 740px){
	.side-nav{
		left: -241px;
	}

	.right-top{
		left: 0px;
		position: absolute;
		height: 260px;
	}

	.right-top-title{
		width: 740px;
	}

	.right-content-wrap{
		left: 0px;
		top: 260px;
	}

	.content{
		width: 740px;
	}
}

@media screen and (max-width: 1460px) and (min-width: 1220px){
	.side-nav{
		left: -241px;
	}

	.right-top{
		left: 0px;
		position: absolute;
		height: 260px;
	}

	.right-top-title{
		width: 1160px;
	}

	.right-content-wrap{
		left: 0px;
		top: 260px;
	}

	.content{
		width: 1160px;
	}


}

@media screen and (min-width: 1460px){
	.side-nav{
		left: 0px;
	}

	.right-top{
		left: 240px;
		position: absolute;
		height: 260px;
	}

	.right-top-menu{
		display: none;
	}

	.right-top-title{
		width: 1180px;
	}

	.right-content-wrap{
		left: 240px;
		top: 260px;
	}

	.content{
		width: 1180px;
	}

}

.color-orange{
	color: #ff5500;
}

.element-show{
	display: block;
}

.side-nav-changed{
	left: 0px;
}

.right-top-changed{
	position: fixed;
	height: 65px;
}

.right-top-title-changed{
	position: fixed;
	top: 20px;
	margin-left: 70px;
	font-size: 1.0em;
}
.theme-style-changed{
	position: fixed;
	top: 80px;

}

.par3_icons_list{
	position: relative;
	display: inline-block;
	width: 50%;
	vertical-align: top;
}
.icons-cownload-cloumns{
	position: relative;
	margin-left: 20px;
	padding: 5px 0px 10px 0px;
	display: inline-block;
}
.icons-download{
	text-decoration: none;
	display: block;
	color: #72c3e1;
}

.par{
	margin-top: 70px;
	vertical-align: top;
}
