table,th,td,tr{
	text-align: left;
}

table.name{
	border-collapse: collapse;
	margin-bottom: 40px;
}
td{
	font-size: 16px;
	color: #555555;
}
#vertical{
    position: absolute;
    height: 17px;
    background-color: #efefef;
    width: 2px;
    left: -4px;
    top: 0px;
}

#vertical_item {
    width: 2px;
    position: absolute;
    height: 1.0em;
    background-color: #ff5000;
}

.vertical-discript{
    position:absolute;
    margin-left:3px;
    top:-0.5em;
    width: 200px;
} 
